
/* Variables
   ==================================== */
$base_spacing: 1em;
$base_transition: .400ms ease;
$block_padding: 3em;

/* Colors
   ==================================== */
$color_main: #E3E3E3;
$color_secondary: #CCCCCC;

$color_white: #FFFFFF;
$color_black: #000000;

$color_text: #f22b11;
$color_link: #fff;
$color_link--hover: darken($color-link, 10%);

$color-button-primary: #f22b11;
$color-button-primary-hover: darken($color-button-primary, 5%);
$color-button-primary-text: #ffe37a;

$color_facebook: #03539e;
$color_twitter: #35ccff;
$color_linkedin: #217bc1;


